// Background color
$background-color: #283040;
$bg-definitions: rgba(255 255 255 / 5%);
$bg-input: rgba(255 255 255 / 15%);

// Fonts colors
$font-color: #ffffff;

// Typography
$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-segeo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Shadows
$shadow-1: 0 8px 16px rgba(0 0 0 / 25%);